/* styles.css */
body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: lightgrey;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #1C3131;;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block; 
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #2F4F4F;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 4px;
    
}

button {
    background-color: #2F4F4F;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-width: 1px; 
    width: 30%;

}

button:hover {
    background-color: #1C3131;
}

p {
    text-align: center;
}

button#SignUpButton {
    background-color: #28a745;
}

.button-container {
    text-align: center;
}

.input-container {
    text-align: center;
    margin-bottom: 20px; 
}

button#SignUpButton:hover {
    background-color: #218838;
}

.fade-effect {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}



@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-effect {
  animation: fadeInOut 1s linear infinite; 
}


